<a href="https://colab.research.google.com/github/Pinlinzz/Analisis-Dataset-Employee-Salary-Analysis-/blob/main/Analisis_Dataset_Employee_Salary_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INISIASI DAN IMPORTING DATASET

Let's check the structure and summary of the R data frame, similar to `df.info()` and `df.describe()` in Python.

In [15]:
# Load the dataset into an R data frame
salary_df <- read.csv('/content/dataset/Salary_Dataset.csv')

# Display the first 5 rows of the data frame
summary(salary_df)

  Employee_ID         Name                Age           Gender
 Min.   :   1.0   Length:1200        Min.   :20.00   Length:1200
 1st Qu.: 300.8   Class :character   1st Qu.:30.00   Class :character
 Median : 600.5   Mode  :character   Median :41.00   Mode  :character
 Mean   : 600.5                      Mean   :39.99
 3rd Qu.: 900.2                      3rd Qu.:50.00
 Max.   :1200.0                      Max.   :59.00
   Country              City            Education          Job_Title
 Length:1200        Length:1200        Length:1200        Length:1200
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



  Department        Experience_Years   Salary_USD       Bonus_USD
 Length:1200        Min.   : 0.00    Min.   : 30028   Min.   : 1002
 Class :character   1st Qu.: 6.00    1st Qu.: 58782   1st Qu.: 5514
 Mode  :character   Median :15.00    Median : 89086   Median :10718
                    Mean   :14.35    Mean   : 89792   Mean   :10415
                    3rd Qu.:22.00    3rd Qu.:121232   3rd Qu.:15107
                    Max.   :29.00    Max.   :149815   Max.   :19976
 Work_Hours_Per_Week Remote_Work        Performance_Score  Joining_Year
 Min.   :30.00       Length:1200        Min.   :1.000     Min.   :2000
 1st Qu.:37.00       Class :character   1st Qu.:3.000     1st Qu.:2006
 Median :45.00       Mode  :character   Median :5.000     Median :2013
 Mean   :44.36                          Mean   :4.961     Mean   :2012
 3rd Qu.:52.00                          3rd Qu.:7.000     3rd Qu.:2019
 Max.   :59.00                          Max.   :9.000     Max.   :2024
 Contract_Type
 Length:1200
 Class :character
 Mode  :character

# Data Cleaning & Preprocessing